<% layout('/layouts/Boiler Plate') %>
    <div class="row d-flex justify-content-center p-2" style="flex: 1;">
        <div class="card bg-light p-3 border border-success rounded-3 width-forty">
            <h3 class="text-center mb-3">Find the most suitable crop for your soil</h3>
            <div class="col-lg-10 offset-lg-1">
                <p class="mb-3 mt-2 mandatory">* Mandatory Fields</p>
                <form action="/crops/crop-recommendation" method="post" class="d-inline needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="nitrogen" class="form-label">Nitrogen (N)<span class="mandatory">*</span> : </label>
                        <input type="number" class="form-control" name="crop_recommend[nitrogen]" id="nitrogen"
                            placeholder="Enter value of nitrogen (0-200)" step="1" min="0" max="200" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid nitrogen value.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="phosphorous" class="form-label">Phosphorous (P)<span class="mandatory">*</span> : </label>
                        <input type="number" class="form-control" name="crop_recommend[phosphorous]" id="phosphorous"
                            placeholder="Enter value of phosphorous (0-200)" step="1" min="0" max="200" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid phosphorous value.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="pottasium" class="form-label">Pottasium (K)<span class="mandatory">*</span> : </label>
                        <input type="number" class="form-control" name="crop_recommend[pottasium]" id="pottasium"
                            placeholder="Enter value of pottasium (0-200)" step="1" min="0" max="200" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid pottasium value.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="ph" class="form-label">pH Level<span class="mandatory">*</span> : </label>
                        <input type="number" class="form-control" name="crop_recommend[ph]" id="ph"
                            placeholder="Enter value of pH (0-14)" step="1" min="0" max="14" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid pH value.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="rainfall" class="form-label">Rainfall (in mm)<span class="mandatory">*</span> : </label>
                        <input type="number" class="form-control" name="crop_recommend[rainfall]" id="rainfall"
                            placeholder="Enter value of rainfall (0-300)" step="1" min="0" max="300" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid rainfall value.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="state" class="form-label">State<span class="mandatory">*</span> :</label>
                        <select class="form-select" name="crop_recommend[state]" id="state" required>
                            <option value="">-- select one --</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                            <option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Puducherry">Puducherry</option>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="district" class="form-label">District<span class="mandatory">*</span> :</label>
                        <select class="form-select" name="crop_recommend[district]" id="district" disabled required>
                            <option value="">-- select one -- </option>
                        </select>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please select a valid district.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Recommend</button>
                    <button type="reset" class="btn btn-danger btn-sm">Reset</button>
                </form>
                <a href="/stories" class="btn btn-secondary btn-sm">Go Back</a>
            </div>
        </div>
    </div>
    <script src="/javascript/Select Districts.js"></script>